<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.8/angular-dragula.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="../js/appi.js" th:href="@{js/appi.js}"></script>
</head>

<body ng-app="example">
<div class="container" ng-controller="ApiController">
    <div class='parent' ng-controller="FeedController">
        <div class="container panel" ng-repeat="creative in creatives" ng-class="{'last':$last}"
             infinite-scroll="loadCreatives(last,10)" infinite-scroll-distance="5">
            <div ng-controller="ChaptersController">
                <h1 class="panel panel-heading" >{{creative.name}}</h1>
                <div class="panel panel-body"  >
                    <div ng-repeat="chapter in creative.chapters">
                        <h4>{{chapter.chapterName}}</h4>
                        <p>{{chapter.chapterText}}</p>
                    </div>
                </div>
                <div>
                    <span class="badge">{{creative.date| date:"MM/dd/yyyy 'at' h:mma"}}</span>
                    <div class="pull-right"><span class="label label-primary">story</span></div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>

</html>
