<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

</head>
<body ng-app="example">
<div class="container" ng-controller="ApiController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.error}">
                <h4 style="color:red">Something wrong!</h4>
            </div>
            <form ng-submit="addUser()" action="login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email"
                           maxlength="255" ng-model="user.email" required="true"/>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first-name" placeholder="Enter First Name"
                           maxlength="255" ng-model="user.firstName" />
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Enter Last Name"
                           maxlength="255" ng-model="user.lastName" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password"
                           maxlength="255" minlength="8" ng-model="user.password" required="true"/>
                </div>
                <button type="submit" class="btn btn-default"  >Add user</button>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script type="text/javascript" src="../js/appi.js" th:href="@{js/appi.js}"></script>
</body>

</html>

